<h1>Project Owner Profile</h1>
<hr>
<h3>User Info</h3>
<hr>
<p>
  User:
  <%= "#{@user.first_name} #{@user.last_name}" %>
</p>
<p>
  Email:
  <%= @user.email %>
<br>


<h3>Projects</h3>
<hr>
<h4>Uploaded Projects</h4>
<p>Projects that have been uploaded by <%=@user.first_name%> are: </p>
<% if @user.projects.length > 0 %>
  <% @user.projects.each do |project| %>
    <ul>
      <li>
        <%= project.title %> <br>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>This user doesn't have any projects.</p>
<% end %>

<h4>Active</h4>
<p>The projects that are currently active are: </p> 
<% @user.total_active_projects.each do |projects| %>
  <% if @user.total_active_projects.length > 0 %>
    <ul>
      <li>
        <p><%= projects %></p>
      </li>
    </ul>
  <% else %>
    <p><%= "#{@user.first_name}"%> has no currently active projects.</p>
    <% end %>
  <%end %>




<h3>About <%= @user.first_name %></h3> <hr>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
