<h1>User Profile</h1>

<h3>Projects</h3>
<hr>
<h4>Uploaded Projects</h4>
<div class="">
  <p>You have uploaded <%=@projects.count%> projects.</p>
</div>
<% @projects.each do |project| %>
  <ul>
    <li>
      <b><%= project.title %></b>
    </li>
  </ul>
<% end %>

<h4>Live Projects</h4>

<% if current_user.projects.live_projects.length > 0 %>
  <div class="">
    Of all of your uploaded projects, these project(s) have already past the start date:
  </div>
<% else %>
  <p>You have no projects currently in progress.</p>
<% end %>
<% current_user.projects.live_projects.each do |projects| %>
  <ul>
    <li>
      <b><%= projects.title %> </b>
    </li>
  </ul>
<% end %>



<h4>Funded Projects</h4>
<% if current_user.projects_where_goal_met.length > 0 %>
  <p>These projects have reached their funding goal: </p>
  <% current_user.projects_where_goal_met.each do |proj_name, proj_fund| %>
    <ul>
      <li>
        <b><%= proj_name %></b>: <%= number_to_currency(proj_fund) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>You don't have any projects that have met their goal.</p>
<% end %>

<p>These projects have received funding.</p>
<% current_user.projects_with_funds.each do |proj| %>
  <ul>
    <li>
      <b><%= proj %></b>
    </li>
  </ul>
<% end %>
<p>
  This is how much total money has been pledged to all of your projects: <%= number_to_currency(current_user.total_money_pledged) %>.
</p>
<div class="">
  This is how many pledges your projects have: <%= current_user.total_pledges %>.
</div>
<br>




<h3>Pledges</h3>
<hr>
<p>You have <%=@pledges.count%> pledges on other people's projects.</p>
<% pledge_amount = 0 %>
<% @pledges.each do |pledge| %>
  <ul>
    <li>
      <% pledge_amount += pledge.dollar_amount %>
      <%= link_to "#{pledge.project.title}", project_path(pledge.project.id) %> |
      <%= number_to_currency(pledge.dollar_amount) %> |
      <%= link_to "#{pledge.project.user.first_name} #{pledge.project.user.last_name}", bio_path(pledge.project.user.id) %>
    </li>
  </ul>
<% end %>

<p>The amount of money you have pledged is <%= number_to_currency(pledge_amount) %></p>
<hr>
