<h1>User Profile</h1>

<h3>Projects</h3>
<hr>
<h4>Uploaded Projects</h4>
<div class="">
  <p>You have uploaded <%=@projects.count%> projects.</p>
</div>
<% @projects.each do |project| %>
  <%= project.title %> <br>
<% end %>

<h4>Live Projects</h4>
<% in_progress_projects = [] %>
<% @projects.each do |project| %>
  <% if project.start_date < DateTime.now %>
    <%= in_progress_projects << project.title %> <br>
  <% end %>
<% end %>
<% if in_progress_projects.length > 0 %>
  <div class="">
    <br>
    Of all of your uploaded projects, these projects have already past the start date:
    <br>
  </div>
  <% else %>
    <p>You have no projects currently in progress.</p>
<% end %>
<% in_progress_projects.each do |projects| %>
  <%= projects %>
<% end %>

<h4>Funded Projects</h4>
<% fund = 0 %>
<% goal_met = [] %>
<% funded_projects = 0 %>
<% @projects.each do |project| %>
  <% ind_proj_fund = 0 %>
  <% project.pledges.each do |pledge| %>
    <% fund += pledge.dollar_amount %>
    <% funded_projects += 1 %>
    <% ind_proj_fund += pledge.dollar_amount %>
  <% end %>
  <% if ind_proj_fund >= project.goal %>
    <% goal_met << project.title %>
    <p><%= project.title %> has been fully funded.</p>
  <% end %>
<% end %>
<div class="">
  This is how much has been pledged to your projects: <%= number_to_currency(fund) %>. <br>
  This is how many pledges your projects have: <%= funded_projects %>.
</div>
<br>

<h3>Pledges</h3>
<hr>
<p>You have <%=@pledges.count%> pledges on other people's projects.</p>
<% pledge_amount = 0 %>
<% @pledges.each do |pledge| %>
  <br>
  <% pledge_amount += pledge.dollar_amount %>
  <%= link_to "#{pledge.project.title}", project_path(pledge.project.id) %> |
  <%= number_to_currency(pledge.dollar_amount) %> |
  <%= link_to "#{pledge.project.user.first_name} #{pledge.project.user.last_name}", bio_path(pledge.project.user.id) %>
<% end %>

<p>The amount of money you have pledged is <%= number_to_currency(pledge_amount) %></p>
<hr>
